*{
    font-family: Arial;
    box-sizing: border-box;
}

body{
    padding-block: 100px;
    padding-inline: 12%; 
    height: 100vh; 
    margin: 0px; 
    backdrop-filter: blur;
}

h1{
    color: blue; 
    text-shadow: 2px 2px 0px darkblue; 
}

:root{
    --grey: #CCCCCC;
    --white: #fff; 
    --black:  #000000; 
}

.button{
    margin-top: 30px;
    height: 50px;
    width: 50px;
    border-radius: 50%;
    background-color:antiquewhite;
    color: blue;
    text-shadow: 0.5px 0.5px 0px darkblue; 
}
.light-theme{
    background-image: url(https://www.quotidiano.net/image-service/version/c:ODQ3MGQwYTUtMWVlOC00:MzllOTg0/podcast-su-grafica-e-design.jpeg);
    background-size: cover;
    background-repeat: no-repeat;
    background-color: var(--grey);
    color:var(--blue); 
}
.dark-theme{
    background-color: var(--black);
    color: var(--white); 
}
nav {
    background-color:  #093c80;
    overflow: hidden;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

nav ul li {
    float: left;
}

nav ul li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

nav ul li a:hover {
    background-color: #ddd;
    color: black;
}

.container{
    background-color: rgba(176, 201, 233, 0.699);
    backdrop-filter: blur;
    padding: 5px; 
    border-radius: 10px;
}

.center-horizontal {
    max-width: 100%;
}

.centered-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
}
.dropdown-menu {
    display: none;
}

.dropdown-menu.show {
    display: block;
}

.dropdown-menu .hidden {
    display: none;
}

