*{
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    box-sizing: border-box;
}

body{
    padding-block: 100px;
    padding-inline: 12%; 
    height: 100vh; 
    margin: 0px; 
    backdrop-filter: blur;
    font-family: Verdana; 
    background-color: blue;
}

.carousel {
    width: 100%;
    overflow: hidden;
    white-space: nowrap;
}
.carousel-inner {
    display: inline-block;
    transition: transform 0.3s ease-in-out;
}
.carousel-item {
    display: inline-block;
    width: 500px; /* Larghezza della card */
    margin-right: 10px; /* Spazio tra le card */
}
/* Stili per le card */
.card {
    border: 3px solid black;
    border-radius: 5px;
    overflow: hidden;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
    transition: transform 0.5s;
    transform-style: preserve-3d; /* Mantieni le trasformazioni 3D per i figli */
}

.card-wrapper {
    /* Stile per il wrapper della card */
    position: relative;
    width: 100%;
    height: 100%;
    perspective: 1000px; /* Profondità della prospettiva */
}

.card.flipped {
    /* Applica la trasformazione per girare la card */
    transform: rotateY(180deg);
}
.card-img-top {
    width: 100%;
    height: 500px; /* Altezza dell'immagine */
    object-fit: cover;
}
.card-body {
    padding: 10px;
}
.card-title {
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 5px;
}
.card-text {
    font-size: 14px;
}
nav {
    background-color: black;
    overflow: hidden;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

nav ul li {
    float: left;
}

nav ul li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

nav ul li a:hover {
    background-color: #ddd;
    color: black;
}

.container {
    display: flex;
    justify-content: center;
}

.center-horizontal {
    max-width: 100%;
}

.centered-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
}
.dropdown-menu {
    display: none;
}

.dropdown-menu.show {
    display: block;
}

.dropdown-menu .hidden {
    display: none;
}
