<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>Relazioni</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="../style/relazioni.css"> 
        <script src="../dynamic/podcast.js" defer></script>
    </head>
    <nav>
        <ul>
            <li><a href="index.html">Home</a></li>
            <li><a href="about.html">About</a></li>
            <li><a href="contact.html">Contact</a></li>
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" role="button" aria-expanded="false">Generi</a>
                <ul class="dropdown-menu">
                    <li><a href="truecrime.html">True Crime</a></li>
                    <li><a href="informazione.html">Informazione</a></li>
                    <li><a href="relazioni.html">Relazioni</a></li>
                </ul>
            </li>
        </ul>
    </nav>
    <body>
        <h1>I podcast che parlano di amore</h1>
        <h2>Da non perdere!!!</h2>
    <div class="carousel">
      <div class="carousel-inner">
          <div class="carousel-item">
              <div class="card">
                  <img src="https://d3t3ozftmdmh3i.cloudfront.net/production/podcast_uploaded_nologo400/8001233/8001233-1704390283834-66716773e4048.jpg" class="card-img-top" alt="cuori-pensanti">
                  <div class="card-body">
                      <h5 class="card-title">Cuori pensanti</h5>
                      <p class="card-text">Luigi Mennella, arteterapeuta, ci insegna a parlare con le nostre emozioni 🎙</p>
                  </div>
              </div>
          </div>
          <div class="carousel-item">
            <div class="card">
                <img src="https://www.lasvolta.it/photobook/in-article/202403/20187-ThFC-2-2024-03-22t151558054.jpg" class="card-img-top" alt="il-podcast-del-disagio">
                <div class="card-body">
                    <h5 class="card-title">Il podcast del disagio</h5>
                    <p class="card-text">Valentina Tridente si rivolge ai Millenials come lei affrontando tematiche eterogenee in modo cinico ed irriverente</p>
                </div>
            </div>
        </div>
        <div class="carousel-item">
          <div class="card">
              <img src="https://www.lasvolta.it/photobook/in-article/202403/20188-ThFC-3-2024-03-22t151606556.jpg" class="card-img-top" alt="generazione-anzia">
              <div class="card-body">
                  <h5 class="card-title">Generazione anZia</h5>
                  <p class="card-text">di Emanuela Ambrosino e Marianna Bruschi, per Sky Tg24</p>
              </div>
          </div>
        </div>
        <div class="carousel-item">
          <div class="card">
              <img src="https://i.scdn.co/image/ab6765630000ba8a30964e1cba54e60bf44d75c4" class="card-img-top" alt="tv-therapy">
              <div class="card-body">
                  <h5 class="card-title">Tv Therapy</h5>
                  <p class="card-text">Capire se stessi tramite le serie tv. 
                    Un podcast a cura di
                    Alessia Romanazzi, psicologa e psicoterapeuta e 
                    Giorgia Romanazzi, content creator.</p>
              </div>
          </div>
        </div>
        <div class="carousel-item">
          <div class="card">
              <img src="https://megaphone.imgix.net/podcasts/611d2142-14e7-11ee-8dc1-7ba3bdb382e1/image/coverart.jpg?ixlib=rails-4.3.1&w=400&h=400" class="card-img-top" alt="è-solo-sesso">
              <div class="card-body">
                  <h5 class="card-title">E' solo sesso</h5>
                  <p class="card-text">Di Valeria Montebello</p>
              </div>
          </div>
        </div>
        <div class="carousel-item">
          <div class="card">
              <img src="https://m.media-amazon.com/images/I/81s7uU7LfEL._SL800_.jpg" class="card-img-top" alt="Tutta-la-verita-dell-amore">
              <div class="card-body">
                  <h5 class="card-title">Tutta la verità dell'amore</h5>
                  <p class="card-text">Di Franco Bolelli e Manuela Montegazza</p>
              </div>
          </div>
        </div>
        <div class="carousel-item">
            <div class="card">
                <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQaSh-FbGFPUjdm7O3TnPqQIz9JmEn1Hsm46XroAH8utw&s" class="card-img-top" alt="Brave-mai">
                <div class="card-body">
                    <h5 class="card-title">Brave mai</h5>
                    <p class="card-text">Il primo podcast sul sesso tra donne. Prodotto da Gli Ascoltabili.</p>
                </div>
            </div>
        </div>
    </div>
  </div>
  <div>
    <button onclick="prev()">Prev</button>
    <button onclick="next()">Next</button>
  </div>
  <div>
    <button class="button">Notte</button> 
  </div>
    </body>
</html>