<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>True Crime</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="../style/truecrime.css"> 
    </head>
    <nav>
        <ul>
            <li><a href="index.html">Home</a></li>
            <li><a href="about.html">About</a></li>
            <li><a href="contact.html">Contact</a></li>
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" role="button" aria-expanded="false">Generi</a>
                <ul class="dropdown-menu">
                    <li><a href="truecrime.html">True Crime</a></li>
                    <li><a href="informazione.html">Informazione</a></li>
                    <li><a href="relazioni.html">Relazioni e Sentimenti</a></li>
                </ul>
            </li>
        </ul>
    </nav>
    <body>
        <h1>La narrazione del crimine non ha limiti</h1>
        <h2>I podcast true crime più interessanti del momento</h2>
    <div class="carousel">
      <div class="carousel-inner">
          <div class="carousel-item">
              <div class="card">
                    <img src="https://is4-ssl.mzstatic.com/image/thumb/PodcastSource122/v4/4b/a5/be/4ba5be0e-4f2f-c230-b2bd-093a95074ba3/1a8b3334-db49-483e-b438-d7527e995a66.png/500x500bb.jpg" class="card-img-top" alt="italia nera - il male nel belpaese">
                  <div class="card-body">
                      <h5 class="card-title">Italia Nera - Il Male nel Belpaese</h5>
                      <p class="card-text">L'Italia è considerata universalmente come uno dei paesi più belli del mondo, e il suo popolo uno dei più "simpatici". Certo, un po' furbacchioni e indolenti, ma carismatici e in fondo anche "brava gente". E se non fosse davvero così?
                        Lo vedremo nei vari episodi di Italia Nera - Il Male nel Belpaese.
                        Chissà, magari capiremo qualcosa in più dell'Italia, e di noi stessi.</p>
                    </div>
                </div>
              </div>
          <div class="carousel-item">
            <div class="card">
                <img src="https://www.gliascoltabili.it/assets/uploads/2021/03/DEMONIURBANI_MAIN_1280X1280.png" class="card-img-top" alt="demoni urbani">
                <div class="card-body">
                    <h5 class="card-title">Demoni Urbani</h5>
                    <p class="card-text">Tutte le più belle città del mondo hanno un cuore di tenebra. In ogni puntata di Demoni Urbani, condotta da Francesco Migliaccio, una storia criminale agghiacciante e sorprendente, tra le vie più suggestive che accompagnano la nostra quotidianità. Ripercorrerle non sarà più come prima…</p>
                </div>
            </div>
        </div>
        <div class="carousel-item">
          <div class="card">
                <img src="https://www.carlolucarelli.it/opere/catalogo/compagnia.jpg" class="card-img-top" alt="in compagnia del lupo">
              <div class="card-body">
                  <h5 class="card-title">In compagnia del lupo</h5>
                  <p class="card-text">Il podcast tratto dall’omonima serie di Sky Arte con Carlo Lucarelli, alla scoperta del lato oscuro delle fiabe.</p>
              </div>
            </div>
          </div>
        <div class="carousel-item">
          <div class="card">
              <img src="https://www.carlolucarelli.it/opere/catalogo/comeilsangue.jpg" class="card-img-top" alt="nero come il sangue">
              <div class="card-body">
                  <h5 class="card-title">Nero come il sangue</h5>
                  <p class="card-text">Ogni storia di un crimine è unica, ma ci sono casi che più di altri hanno segnato un'epoca, quando la spinta ad uccidere ha tratto origine da dinamiche personali, più o meno comprensibili, più o meno folli. Odio e gelosia, profitto e piacere... proiettili, lame e veleni.</p>
              </div>
          </div>
        </div>
        <div class="carousel-item">
          <div class="card">
              <img src="https://www.ilpost.it/wp-content/uploads/2023/05/19/1684474530-indagini-wide.jpg-copia.jpg" class="card-img-top" alt="indagini">
              <div class="card-body">
                  <h5 class="card-title">Indagini</h5>
                  <p class="card-text">Cosa è successo dopo alcuni dei più noti casi di cronaca nera italiana. Una storia ogni mese, il primo del mese. Di Stefano Nazzi.</p>
              </div>
          </div>
        </div>
        <div class="carousel-item">
          <div class="card">
              <img src="https://m.media-amazon.com/images/S/dmp-catalog-images-prod/images/2e73f87e-fc59-40d8-979a-4402e6983af0/2e73f87e-fc59-40d8-979a-4402e6983af0-614485866._SX576_SY576_BL0_QL100__UX250_FMwebp_QL85_.jpg" class="card-img-top" alt="elisa true crime">
              <div class="card-body">
                  <h5 class="card-title">Elisa True Crime</h5>
                  <p class="card-text">In questa nuova stagione del podcast, Elisa si occupa dei grandi delitti mediatici italiani, i casi più conosciuti di cronaca nera che negli ultimi anni hanno sconvolto e diviso l’opinione pubblica del nostro Paese.</p>
              </div>
          </div>
        </div>
        <div class="carousel-item">
            <div class="card">
                <img src="https://static.prod.radio-api.net/fontecupa-il-mistero-di-serena-mollicone/d23ee05368e8baa940cd50a8363b6657/logo_300x300.png" class="card-img-top" alt="fontecupa-il-mistero-di-serena-mollicone">
                <div class="card-body">
                    <h5 class="card-title">Fontecupa - Il mistero di Serena Mollicone</h5>
                    <p class="card-text">Fontecupa. Il mistero di Serena Mollicone è un'inchiesta che ricostruisce il celebre caso di Serena Mollicone, la diciottenne di Arce (Frosinone) ritrovata cadavere in un bosco nei pressi di Fontana Liri il 1° giugno 2001, due giorni dopo la sua scomparsa.</p>
                </div>
            </div>
        </div>
    </div>
  </div>
  <div>
    <button onclick="prev()">Prev</button>
    <button onclick="next()">Next</button>
  </div>

  <script src="../dynamic/truecrime.js"></script>
    </body>
</html>